@font-face {
    font-family: Heading-Now-Variable;
    src: url(/Heading-Now-Variable.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* font-family: 'Heading-Now-Variable'; */
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Heading-Now-Variable';
}

#loader{
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family:'Montserrat';
    position: fixed;
}

section{
    width: 100%;
    height: 100vh;

background-color: #000;
}
.section-1{
    overflow: hidden;
}
.section-1 h1{
    font-size: 46vw;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    font-stretch: 260%;
    font-weight: 999;
    margin: -100px 20px;
}